.login {
    position: absolute;
    margin: 0;
    top: calc(50% - 136px);
    left: calc(50% - 260px);
    background-color: #fff;
    border: 1px solid #aaa;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.login-title {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    color: #666;
    font-size: 0.875rem;
    text-align: center;
}

.login-text {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    width: 100%;
    font-size: 18px;
    color: #212121;
    padding: 7px 0;
    margin: 10px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.login-text:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #628b48;
}

.login-submit {
    width: 374px;
    display: block;
}

@media screen and (max-width: 640px) {
    .login {
        left: 0;
        top: calc(20vh);
        position: relative;
        width: 100%;

    }

    .login-text {
        width: 90%;
    }

    .login-submit {
        width: 90%;
    }
}