header {
    background-color: #628b48;
    padding: 0.5em 0;
    color: #fff;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header-subtitle, nav a {
    font-size: 1rem;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 2em;
}

@media (max-width: 640px) {
    .container-nav {
        flex-direction: column;
    }

    .header {
        text-align: center;
    }
  
    h1 {
        font-size: 2rem;
    }

    .header-subtitle {
        font-size: 0.8rem;
    }

    nav ul {
        flex-direction: row;
    }
  
    nav li {
        margin: 0.5em 1em;
    }
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;

    font-size: 12px;
    background: #fff;
    color: #628b48;
    padding: 0 5px;
    vertical-align: middle;
}
  