.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.search-text {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    width: 100%;
    font-size: 18px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search-text:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #628b48;
}

.products {
    display: flex;
    flex-wrap: wrap;

}

.product {
    position: relative;
    margin-bottom: 30px;
}

.product-image {
    width: 100%;
    overflow: hidden;
}

.product-image img {
    height: 15em;
    width: 100%;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    object-fit: cover;
}

.product-title a {
    color: #628b48;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-product {
    position: absolute;
    margin: 0;
    top: calc(50% - 250px);
    left: calc(50% - 260px);
    background-color: #fff;
    border: 1px solid #aaa;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.product-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    color: #666;
    font-size: 0.875rem;
}

.form-text {
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    width: 100%;
    font-size: 18px;
    color: #212121;
    padding: 7px 0;
    margin: 10px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-text:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #628b48;
}

.product-quantity, .product-image {
    padding: 20px 0;
    
    & label {
        font-size: 18px;
    }
}

.form-submit {
    width: 100%;
}

.manage-product {
    width:100%;
    text-align: center;
}

.update-btn, .delete-btn {
    width: 50%;
    margin-top: 5px;
    display: inline-block;
}

.update-btn {
    background-color: #008CBA;
}

.delete-btn {
    background-color: #f44336;
}

.create-product-btn {
    width: 250px;
    /* display: inline-block; */
    float: right;
}

@media screen and (max-width: 640px) {
    .form-product {
        left: 0;
        top: calc(20vh);
        position: relative;
        width: 100%;

    }

    .form-text {
        width: 90%;
    }

    .form-submit {
        width: 90%;
    }

    .create-product-btn {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 790px) {
    .product:not(:nth-child(4n+4)) {
        margin-right: 20px;
        width: calc((25% + 5px) - 20px);
    }

    .product:nth-child(4n+4) {
        width: calc(25% - 15px);
    }

}

@media (max-width: 414px) {
    .product {
        width: 100%;
        padding: 0 15px;
    }

    .search-form {
        padding: 20px 15px;
    }
}